API/node_modules
API/info/covidhelper-45bda-firebase-adminsdk-4ssgh-8cd4cdeb33.json
IOS/CovidHelper/CovidHelper.xcworkspace/xcuserdata/
ANDROID/CovidHelper/app/google-services.json
IOS/CovidHelper/CovidHelper/GoogleService-Info.plist
IOS/CovidHelper/CovidHelper.xcworkspace/xcuserdata/arnavreddy.xcuserdatad/UserInterfaceState.xcuserstate
IOS/CovidHelper/CovidHelper.xcodeproj/xcuserdata/arnavreddy.xcuserdatad/xcschemes/xcschememanagement.plist
IOS/CovidHelper/Pods/Pods.xcodeproj/xcuserdata/arnavreddy.xcuserdatad/xcschemes/xcschememanagement.plist
