<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662356953582-arbfkp0co1m21a525q5rkjgammctd0op.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662356953582-arbfkp0co1m21a525q5rkjgammctd0op</string>
	<key>API_KEY</key>
	<string>AIzaSyAAj2sEufyXRXHLQHfeluNeR8LULUlVM3I</string>
	<key>GCM_SENDER_ID</key>
	<string>662356953582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ArnavReddy.CovidHelper</string>
	<key>PROJECT_ID</key>
	<string>covidhelper-45bda</string>
	<key>STORAGE_BUCKET</key>
	<string>covidhelper-45bda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:662356953582:ios:a22d974087b96fd105a6ff</string>
	<key>DATABASE_URL</key>
	<string>https://covidhelper-45bda.firebaseio.com</string>
</dict>
</plist>
